# .NET Core / .NET 5/6
*.swp
*.*~
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
**/appsettings*.json
**/appsettings*.yaml
*.user
*.userosscache
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.psess
*.svclog
.nuget/
*.pidb
*.svclog
*.suo
*.user
*.vscode
**/obj/
**/bin/
*.log
*.sln.cache
*.suo
*.user
*.csproj.user
*.pubxml
*.publishproj
*.dbmdl
*.jfm
nupkg/
_TestResults/
**/TestResults/
*.Cache
*.bak.*
*.bak
/test.mdj
**/[Rr]elease/
**/[Dd]ebug/
*.vs/
.vscode/
*.rsuser
/_ReSharper.*/
*.resharper
__ReSharper__/
*.idea/
*.stackdump
e2e/TestResults/
PublishProfiles/
*.[Cc]ache
ClientApp/build/
PublishScripts/obj/
**/Properties/PublishProfiles/
**/Properties/GeneratedArtifacts/
*.pem
*.mdf
*.ldf
*.ldt
*.hprof
*.ipch
*.idb
*.dbmdl
*.db
*.config.json
*.config
*.bak
*.bak.*
*.bacpac
*.apk
*.appx
*.appxbundle
*.accdc
*.accdt
*.accdb
*.accda
*.sdf
*.sqlite
*.sqlitedb
*.sqlproj.user
*.dacpac
*.dbproj
*.publishsettings
*.excludecache
*.excludesettings
*.sln.DotSettings.user
